<%= form_for(@article) do |f| %>
  <p><%= f.label :title %></p>
  <%= f.text_field :title %>
  <p><%= f.label :content %></p>
  <%= f.text_area :content, size: "80x20" %>
  <p><%= f.submit %></p>
<% end %>
