<h1><%= @article.title %></h1>
<%= link_to "Modifier", edit_article_path(@article) %>
<%= link_to "Supprimer", article_path(@article), method: :delete %>
<%= raw(@content) %>
<%= link_to "Retour au menu", articles_path %>
