<!DOCTYPE html>
<html>
<head>
  <title>RailsWikinimous</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar" style="height: 20px; background-color: #747474">
    <div class="wrapper">
      <div class="container">
       <%= render 'navbar'%>
      </div>
    </div>
  </div>

  <div class="wrapper" style="background-color: #D1D1D1">
    <div class="container">
      <%= yield %>
    </div>
  </div>

</body>
</html>
